
/* =============
    Index Content
============= */

/* --------------------------
    Hero
 --------------------------*/
#home-page{
    background-color: $orange;
}

#home-hero{
    background-image: url('../img/home-hero/home-hero.jpg');
        height: 85vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        #hero-text-1{
            padding-right: 15px;
        }    

        #hero-text-2{
            
        }    

        #hero-text-3{
            padding-left: 15px;
        }    

        h1{
            color: white;
			font-family: 'DM Serif Display', serif;
            font-size: rem-calc(60);
            letter-spacing: 1px;

			
        }
       
}

/* --------------------------
    down arrow
 --------------------------*/
#down-arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;

    #arrow{
        fill: $dark-blue;
    }
    svg{
        height: 100px;
    }
}
/* --------------------------
    home Paragraphs
 --------------------------*/

#home-para{
margin-top: -100px;
    >div{
        

    
    #bold-para{
        border-left: solid 5px $blue;
        p{
            font-family: 'DM Serif Display', serif;
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        
        padding: 225px 300px 20px 20px;
        font-size: rem-calc(20);
            line-height: 30px;
        }
        
        
    }
    #para{ border-right: solid 5px $blue;

        p{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: 400;
        text-align: right;
        margin-top: 60px;
        font-size: rem-calc(19);
        padding: 20px 20px 20px 200px;
        line-height: 30px;
        }

    }
    }
}

/* --------------------------
    Maps & Locations
 --------------------------*/

 #map-title{
    #map-title-container{
        border-left: solid 5px $blue;
        h1{font-family: 'DM Serif Display', serif;
            letter-spacing: 3px;
            text-align: left;
            font-weight: 700;
            color: white;
           
            padding: 20px 20px;
            font-size: rem-calc(80);
            
        }
    }

   

}

 #maps{
     
    #map-location{
        padding: 0 150px;
        display: flex;
        flex-direction: column;
        h2{ font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(25);
            text-align: center;
            color: $dark-blue;
            font-weight: 600;
        }

        p{color: white;
           line-height: 25px;
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(19);
            padding-top: 30px;
            text-align: left;
        }

        #arm-bold{
            font-weight: 700;
            text-align: center;
            padding: 30px 100px 0;
        }

        #arm-regular{
            
        }
    }


 }

 /* --------------------------
    Animation
 --------------------------*/

 #animation{
     
     display: flex;
     justify-content: center;
     align-items: center;
    #upload-animation{
        cursor: pointer;
        height: 150px;
        width: 100%;

        #start{
            cursor: pointer;
        }
        #end{
            visibility: hidden;
          }

          #circle{
              opacity: 0%;
          }

          #arrow-load{
            visibility: hidden;
          }

    }

    // #mountains{
    //     visibility:hidden;
    // }
 }

  /* --------------------------
    Animation
 --------------------------*/
//  #pop-up{
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 900;
//     #pop-up-container{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         #pop-up-image{
//             background-image: url('../img/pop-up/pop-up.png');
//             height: 600px;
//             width: 800px;
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             border: 10px solid $blue;
//             border-radius: 20px;
        
//         }
//     }
//  }

